body {
  margin: 0;
  background-color: #282c34;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
}

.app {
  text-align: center;
}

.input {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #3c3c3c;
  color: #3c3c3c;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.input:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #7cb9e8;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

@media (max-width: 850px) {
  .input-container {
    flex-direction: column;
    row-gap: 10px;
  }
}

.favourites-movies-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #007bff;
}

.favourites-movies-button:hover {
  background-color: #0056b3;
  border: 1px solid #0056b3;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.loader {
  border: 8px solid #007bff;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
