.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.back-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #007bff;
}

.back-button:hover {
  background-color: #0056b3;
  border: 1px solid #0056b3;
}
